body {
    font-family: 'Trispace', sans-serif;
    text-align: center;
    font-size: 30px;

}

.banner {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 8%;

    background-image: url(images/donation13.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}


h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
    font-size: 18px;

}